@{
    ViewBag.Title = "NEOCONT";
    ViewBag.User = "Paulo Solis Andrade";
    ViewBag.Office = "MATRIZ – EDIFICIO PRINCIPAL";
    ViewBag.CurrentDate = DateTime.Now.ToString("dddd, dd 'de' MMMM 'de' yyyy", new System.Globalization.CultureInfo("es-ES"));


    var date = DateTime.Now;

    if (date.DayOfWeek == DayOfWeek.Saturday)
    {
        date = date.AddDays(2);
    }
    else if (date.DayOfWeek == DayOfWeek.Sunday)
    {
        date = date.AddDays(1);
    }

    ViewBag.AccountingDate = date.ToString(
        "dddd, dd 'de' MMMM 'de' yyyy",
        new System.Globalization.CultureInfo("es-ES")
    );
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>

<body>

    <header class="navbar navbar-inverse navbar-static-top" role="banner" style="background-color: #BC157C; border: none; ">
        <div class="container-fluid">
            <div class="row" style="display: flex; align-items: center; padding: 10px 20px 0px;">

                <div class="col-xs-4 col-sm-3">
                    <img src="~/Content/img/logo_bg_white.png" alt="Banco Guayaquil" style="height:40px;">
                </div>

                <div class="col-xs-4 col-sm-6 text-center">
                    <h1 style="color:white; font-weight:700; margin:0;">NEOCONT</h1>
                </div>

                <div class="col-xs-4 col-sm-3 text-right" style="color:white; font-size:12px; line-height:1.4;">
                    <div><strong>@ViewBag.User</strong></div>
                    <div><strong>@ViewBag.Office</strong></div>
                    <div><strong>@ViewBag.CurrentDate</strong></div>
                </div>

            </div>
        </div>

        <nav class="navbar navbar-default" style="margin-bottom: 0; background-color: #BC157C; border: none; padding: 5px 20px 0px 5px; ">
            <div class="container-fluid">
                <!-- Menú principal (izquierda) -->
                <ul class="nav navbar-nav">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Administración</a></li>

                    <!-- Dropdown dentro del UL -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Contabilidad @*<span class="caret"></span>*@
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Usuarios</a></li>
                            <li><a href="#">Roles</a></li>

                            <!-- Submenú -->
                            <li class="dropdown-submenu">
                                <a href="#">Configuración</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Parámetros</a></li>
                                    <li><a href="#">Seguridad</a></li>
                                    <li><a href="#">Permisos</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                    <li><a href="#">Bancos</a></li>
                    <li><a href="#">Cuadre Contable</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Centro de Ayuda</a></li>
                    <li><a>@ViewBag.AccountingDate</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Contenido principal -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NEOCONT</p>
        </footer>
    </div>
</body>
</html>

@Scripts.Render("~/Scripts/jquery")
@Scripts.Render("~/Scripts/bootstrap")
@Scripts.Render("~/Scripts/js")
@RenderSection("scripts", required: false)
